html, body{

    background-color: #232323;
    border: 0;
    padding: 0;
    margin: 0;

}

.topBox{

    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #373737;
    border-bottom : 2px solid #aeaeae;

}

h1{

    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: white;

}